html, body {
    min-width: 320px;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#app {
    margin: 0 0 0 0;
}

.sale_title{
    margin: 0 35px 0 35px;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: inherit;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: black;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link.active {
    text-decoration: underline;
}

.about_us, .login_page {
    text-align: center;
    padding: 0 25% 0 25%;
}

.about_us_main_title, about_us_sub_title {
    text-align: center;
}

.about_us_text{
    text-align: left;
}

#about_us_header{
    padding: 0 2.5%;
}
