.app{
  height: 100vh;
  width: 100vw;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  /* Adjust based on your navbar height */
}

.page-container {
  margin: 0 5%;
}

.section-divider {
  height: 1px;
  background-color: #ddd;
  margin: 2rem 0;
}
